body {
	
	font-family: 'Nunito', sans-serif;
}

.background {
	background: #14121C !important;
}



div#preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	overflow: visible;
	background:  url('https://i.pinimg.com/originals/69/01/c4/6901c471e753e912776c0d4c558aed6a.gif') no-repeat center center;
	transform: scale(0.2);
  } 

  div#preloader2 {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	overflow: visible;
	transform: scale(0.2);
	display: block;
	margin: 0 auto;
  } 

  div#preloader2 > img {
	display: block;
    margin: 0 auto;
    filter: invert(1);
  }

  .wap {
	position: absolute;
	left: 0;
	right: 0;
	top: 210px;
	bottom: 0;
	margin: auto;
	width: 500px;
	height: 300px;
	animation: scale ease 1.4s infinite;
}

.wap > h2 {
	font-size: 1.3rem;
	color: snow;
	font-weight: lighter;
	text-align: center;
}

.wap > h2 > span {
	text-align: center;
	font-size: 1.3rem;
	color: snow;
	font-weight: 800;
}



.show {

	height: 100vh !important;
	overflow: auto !important;
	visibility: visible !important;

	transition: visibility 1s ease-in;

}

 


